* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Set the body's display styling. */
body {
    padding: 0px;
    color: #e3eee4;
    background: rgb(34,139,34);
    background: rgb(26,99,26);
    background: linear-gradient(90deg, rgba(26,99,26,1) 0%, rgba(130,158,133,100) 50%, rgba(26,99,26,1) 100%);
}

/* Style of Header. */
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background: rgb(26,99,26);
    background: linear-gradient(90deg, rgba(26,99,26,1) 0%, rgba(130,158,133,100) 50%, rgba(26,99,26,1) 100%);
  }

/* Set avatar styling */
.sabriel-image {
    display: flex;
    align-content: center;
    margin: 20px;
}

/*Set H1 style. */
h1 {
    color: #e3eee4;
    margin-left: 30px;
    margin-top: 10px;
    align-content: center;
    font-size: 42px;
}

/* Set navigation element style. */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

/* Set styling for nav list. */
nav ul {
    display: flex;
    justify-content: right;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 10px;
}

li {
    display: flex;
    justify-content: right;
}

/* Set styling for links. */
a {
    text-decoration: none;
    color: #e3eee4;
}

/* Add background color when hovering over links. */
a:hover {
    background-color:#307d38;
}

/* Add ability to link to different area.*/
.about {
    text-decoration: none;
}

/* Add ability to link to different area.*/
.project1 {
    text-decoration: none;
}

/* Add ability to link to different area.*/
.project2 {
    text-decoration: none;
}

/* Add ability to link to different area.*/
.contact {
    text-decoration: none;
    margin-right: 10px;
}

.main-area {
    display: flex;
}

/* Syling for the Aside. */
aside {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    font-size: 20px;
}

/* Add some margin to an image */
.space {
    margin-right: 20px;
}

section p {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

/* Styling for main. */
main {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
}

/* Styling for footer. */
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-content: center;
    justify-content: center;
    background: rgb(26,99,26);
    background: linear-gradient(90deg, rgba(26,99,26,1) 0%, rgba(130,158,133,100) 50%, rgba(26,99,26,1) 100%);
}

/* Change styling for when device is mobile or screen is small. */
@media screen and (max-width: 768px){
    .main-area {
        flex-direction: column;
    }

    aside {
        order: 2;
    }
}